html{
    text-align: center;
    box-sizing: border-box;
    font-size: 100%;
   

}

#homepage{
    padding-top: 10%;
    font-size: x-large;

}

a:link{
    text-decoration: none;
}
a:visited{
    color: white;
}


body{
    margin: auto;
    padding: 0;
    background-color: deeppink;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    
}

canvas{
    display: block;
    margin: auto;
    
}