html{
    text-align: center;
    box-sizing: border-box;
    font-size: 100%;
   

}

.blink{
    animation: blinker .2s  infinite;

}

p{
    padding: 5%;
}

@keyframes blinker {
    50%{
        color: aliceblue;
    }
    
}

#homepage{
    padding-top: 10%;
    font-size: x-large;

}

a:link{
    text-decoration: none;
}
a:visited{
    color: white;
}


body{
    margin: auto;
    padding: 0;
    background-color: deeppink;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    
}

canvas{
    display: block;
    margin: auto;
    
}

.sketchone{

}

#sketchtwo{

    
}

#sketchthree{

    
}